 <div class="col-md-2">
                <ul class="list-group">
                  <li class="list-group-item"> <%= link_to "Posts", posts_path %> </li>
                  <li class="list-group-item"> <%= link_to "Category", categories_path %> </li>
                  <li class="list-group-item"> <%= link_to "Manage Tag", tags_path %> </li>
                 
                </ul>
</div>